body{
  background-color:#3B4252;
  width: 100%;
}

div{
  color: #E7F5FF;
  text-align: center;
  font-size: 18px;
}

h1{
  text-align: center;
  color: #CEE5F7;
}

table{
  height: 78px;
  width: 360px;
  border-collapse: collapse;
  border: none;
  margin-left: auto;
  margin-right: auto;
  height="22";
  border="0";
}

tr{
  height: 22px;
}

tr.tdr1{
  width: 49.869%;
  height: 21px;
  width: 50%;
  text-align: center;
}

tr.tdr2{
  width: 46.2734%;
  height: 21px;
  width: 50%;
}

tr.tdr3{
  width: 98%;
  height: 21px;
  text-align: center;
}

tr.tdr4{
  width: 95%;
  height: 21px;
}

button{
  width: 100%;
}

#numin{
  height: 21px;
  width: 95%;
}

#fectors{
  color: #99FCEE;
  text-align:left;
}
